* {
    font-family: 'Open Sans', sans-serif;
}

#title {
    font-size: 400%;
    padding-left: 3%;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:enabled:hover {
    color: #212529;
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-light:disabled {
    color: #949494;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#signout {
    margin-left: 1%;
    margin-right: 1%;
}

#wrapper {
    border-style: solid;
    border-radius: 5px;
    border-color: #AF0000;
    padding: 3%;
    width: 75%;
}

.form-control {
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    margin: 2px 2px 4px 2px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}